<div class="sidebar-wrapper">
      <div class="logo">
          <a href="#" class="simple-text">
              <img src="/images/gh-logo-header-371x128.png" width="185" height="64" />
          </a>
      </div>

</div>